.hidden {
    display: none !important;
}

.control_box {
    position: fixed;
    display: grid;
    right: 10px;
    bottom: 10px;
    z-index: calc(infinity)
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
}

.form_row {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: column;
    grid-column: span 2;
    justify-items: center;
    place-content: center;
    gap: 0px 10px;
    margin: 5px 0px;
}

.form_row * {
    margin: 0px 5px;
    place-content: center;
}

.form_row label {
    justify-self: right;
}

.panel {

}

.mini_panel {
    display: grid;
    justify-items: end;
}

.center_box {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-columns: max-content;
}

.images_box {
    background-color: black;
    overflow: scroll;
    display: grid;
}

.double {
    grid-template-columns: auto auto;
}

.double .image > img {
    max-width: 50vw;
}

.left-start {
    direction: ltr;
}

.right-start {
    direction: rtl;
}

.image {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

.image > img {
    max-height: 95vh;
    max-width: 100vw;
}